<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Fast Food - Food Vote</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{{ url_for('static', filename = 'assets/img/favicon.png')}}" rel="icon">
    <link href="{{ url_for('static', filename = 'assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  
    <!-- CSS Files -->
    <link href="{{ url_for('static', filename = 'assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'assets/vendor/aos/aos.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
  
    <!-- Main CSS File -->
    <link href="static/assets/css/main.css" rel="stylesheet">
  </head>
  
  <body>
      <!-- ======= Header ======= -->
      <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

          <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
            <h1>Fast Food<span>.</span></h1>
          </a>

          <nav id="navbar" class="navbar">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/vote">Food Vote</a></li>
              <li><a href="/random">Random Selector</a></li>
              <li><a href="/bucketlist">Bucket List</a></li>
              <li><a href="/#devs">Team</a></li>
            </ul>
          </nav><!-- .navbar -->

          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
      </header><!-- End Header -->

      <main id="main">
        <section id="hero" style="height:80%" class="hero d-flex justify-content-center section-bg">
          <div class="container" data-aos="fade-up">
            <div class="row gy-5 justify-content-center" style="text-align:center;">
              <div class="col-lg-8 menu-item justify-content-center" style="text-align:center;">
                <h2>Food Vote</h2>
                <p>
                  You and your friends can't decide what to eat? Vote!
                </p>
                
                <label for="input">Input Restaurant: </label>
                <input type="text" id="restaurantInput" required minlength="1" maxlength="40" size="30"><br><br>

                <button id="addButton" class="btn-book-a-table" type="button">Add to List</button>
                <button id="beginButton" class="btn-book-a-table" type="button">Begin Voting</button>

                <button id="submitButton" class="btn-book-a-table" type="button" style="display:none;">Submit Votes</button>
                <button id="randomButton" class="btn-book-a-table" type="button" style="display:none;">Randomly Select</button>

                <h3 id="restaurantLabel" style="padding:15px"></h3>
                <h3 id="votesLabel" style="padding:15px"></h3>
                <ul class="list-group" id="restaurantGroup">
                </ul>
                <h3 id="winnerLabel"></h3>
              </div>
          </div>      
        </div>
      </section>
    </main>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Location</h4>
            <p>
              San Diego, CA - US<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Contact Us</h4>
            <p>
              <strong>Email:</strong> kathkamarilyn@gmail.com<br>
              <strong>Email:</strong> francobelman@live.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Work Schedule</h4>
            <p>
                <strong>Mon-Fri:</strong> 9AM</strong> - 5PM<br>
                <strong>Sat-Sun:</strong> Closed
            </p>
          </div>
        </div>

        <div class="col-lg-2 footer-links">
          <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Marilyn</h4>
          <div class="social-links d-flex">&nbsp;
            <a href="https://www.linkedin.com/in/marilynkathka/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/marilynkat" class="github"><i class="bi bi-github"></i></a>

            
          </div>
        </div>

        <div class="col-lg-1 footer-links">
          <h4>Franco</h4>
          <div class="social-links d-flex">&nbsp;
            <a href="https://www.linkedin.com/in/francobelman/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <strong>Created By:</strong>
      </div>
      <div class="credits">
        Marilyn Kathka and Franco Belman
      </div>
    </div>

  </footer><!-- End Footer -->

    <!-- JS Files -->
    <script src="{{ url_for('static', filename = 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'assets/vendor/aos/aos.js')}}"></script>
    <script src="{{ url_for('static', filename = 'assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
    <script src="{{ url_for('static', filename = 'assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  
    <!-- Main JS File -->
    <script src="{{ url_for('static', filename = 'assets/js/main.js')}}"></script>

    <script>
      const restaurants = [];
      const votes = [];
      const winArr = [];

      function addRestaurant() {
        restaurant = document.getElementById('restaurantInput').value;
        restaurants.push(restaurant);
        document.getElementById('restaurantLabel').innerText = "Restaurants Input: " + restaurants.length;
        document.getElementById('restaurantInput').value = '';
      }

      function populateRestaurants() {
        document.getElementById("submitButton").style.display = "";
        document.getElementById("randomButton").style.display = "";
        document.getElementById("restaurantLabel").style.display = "none";
        document.getElementById("addButton").style.display = "none";
        document.getElementById("beginButton").style.display = "none";
        var ul = document.getElementById("restaurantGroup");

        for(var i = 0; i < restaurants.length; i++){
          var li = document.createElement("li");
          
          var button = document.createElement("button");
          button.innerHTML = 'Vote!'
          button.setAttribute("id", i);
          button.setAttribute("onclick", "vote(this)");
          button.setAttribute("class", "btn-book-a-table");
          button.setAttribute("style", "padding:5;");
          
          var span = document.createElement("span");
          span.setAttribute("style","font-weight: bold;");
          span.setAttribute("id","s"+i);
          span.innerText = "   " + restaurants[i];

          li.appendChild(button);
          li.appendChild(span);
          li.setAttribute("class", "list-group-item");

          ul.appendChild(li);
          ul.setAttribute("style","text-align:left;");
        }
      }

      function vote(button) {
        votes.push(button.id);
        document.getElementById('votesLabel').innerText = "Vote Count: " + votes.length;
        console.log(votes);
      }

      function voteWinner() {

        const count = {};

        for (const element of votes) {
          if (count[element]) {
            count[element] += 1;
          } else {
            count[element] = 1;
          }
        }

        for (const [key, value] of Object.entries(count)) {
          document.getElementById("s"+key).innerText = document.getElementById("s"+key).innerText + " - Votes: " + value;
        }
        
        var winIndex = Object.keys(count).reduce((a, b) => count[a] > count[b] ? a : b)

        var winCount = 0;

        for (const [key, value] of Object.entries(count)) {
          if(value == count[winIndex]){
            winCount++;
            winArr.push(key);
          }
        }

        var winRest = restaurants[Object.keys(count).reduce((a, b) => count[a] > count[b] ? a : b)];

        if(winCount > 1){
          winLabel = document.getElementById('votesLabel');
          winLabel.innerText = "Winner: DRAW - No Winner  ";

          var button = document.createElement("button");
          button.innerText = "Select Random Winner";
          button.setAttribute("onclick", "randomSelectWinner()");
          button.setAttribute("class", "btn-book-a-table");
          winLabel.appendChild(button);
        } else {
          document.getElementById('votesLabel').innerText = "Winner: " + winRest;
        }

        document.getElementById("submitButton").style.display = "none";
        document.getElementById("randomButton").style.display = "none";
      }

      function randomSelect() {
        var winner = restaurants[Math.floor(Math.random()*restaurants.length)];
        document.getElementById('votesLabel').innerText = "Winner: " + winner;
      }

      function randomSelectWinner() {
        var winner = restaurants[winArr[Math.floor(Math.random()*winArr.length)]];
        document.getElementById('votesLabel').innerText = "Winner: " + winner;
      }

      document.getElementById('addButton').addEventListener('click', addRestaurant);
      document.getElementById('beginButton').addEventListener('click', populateRestaurants);
      document.getElementById('submitButton').addEventListener('click', voteWinner);
      document.getElementById('randomButton').addEventListener('click', randomSelect);
    </script>
  </body>
</html>
